.page_404 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    background-color: rgb(243 239 239);
    align-items: center;
    border: 2px solid #d7951a;
}




