.blocflex{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    article {
        margin : 5px;
        padding : 5px;
        border : 1px solid #43446c;
        flex: 1 0 300px;
    }
}