.blocflex{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    article, a {
        margin : 5px;
        padding : 10px;
        border : 3px solid white;
        background-color: #28353b;
        color: white;
        flex: 1 0 300px;
        border-radius: 10%;
    }



    article a:hover{
        color: #cd6504;
        background-color: white;
        border-radius: 10%;
    }


}