.blocflex-article {
    background-color: #F2F2F2;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.blocflex-article h2 {
    font-size: 22px;
    color: #444444;
    margin-bottom: 10px;
}

.blocflex-article p {
    font-size: 16px;
    color: #777777;
    line-height: 1.5em;
}

.blocflex-article a {
    color: #2E77A8;
}


.blocflex-article a:hover {
    color: #1B5482;
}

.blocflex-article .thumbnail {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.blocflex-article .date {
    font-size: 14px;
    color: #999999;
    margin-bottom: 10px;
}

.blocflex a {
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
  }
  
  .blocflex a:hover {
    border-color: #0058b7;
  }
