body {
    background-color: rgb(240, 240, 240);
}

.liensfrontpage {
    text-align: center;
}

.hero {
    width: 100%;
    min-height: 75vh;
    background: url('../img/bg.png') no-repeat;
    background-size: cover;
    margin-bottom: 50px;

    .hero-content {
        padding: 100px 50px;
        max-width: 540px;

        @media screen and (max-width: 680px) {
            padding: 0px 30px 50px 30px;
        }
            
        
    }

    h1 {
        font-size: 68px;
    }

    h2 {
        font-size: 36px;
    }
    
    .latest-pages {
        background-color: #be7105;
        padding: 10px 30px;
        color: white;
        font-size: 22px;
        display: block;
        margin-bottom: 20px;
        max-width: 250px;

        img {
            width: 45px;
            height: 45px;
            margin-left: -10px;
            margin-right: 10px;
            filter: hue-rotate(90deg);
            float: left;
        }

        &:first-of-type{
            margin-top: 50px;
         }
    }
    

}



