
.site__entete {
  font-family: 'Share Tech Mono', monospace;
}



img{
  border: 2px solid #ffffff;
}

nav {
  display: flex;
  flex: 1;
}

.nav-menu li {
  list-style: none;
  margin: 0;
}

.site__entete ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.site__entete li {
  margin: 0 10px;
  padding: 0 1rem;
}

.site__entete a {
  color: #333;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.site__entete a:hover {
  background-color: #ffffff;
  color: #cd6504;
}
  
.logomenu {
  display: flex;
  align-items: center;
  background-color: #28353b;
  padding: 40px;
  height: 30px;
}


.horizontal-menu a{
  font-size: 20px;
  border: 2px solid #ffffff;
  color: white;
  padding: 10px;
  border-radius: 10%;
}

ul.menu {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2 {
  margin-left: 5vw;
}














