.site__entete {
    border: 7px solid #ff0000;
  }
  
  .logomenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: row;
  }  
  
  .menu-entete-container {
    background-color: #b12f2f;
    padding: 15px;
  
    .menu {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      list-style-type: none;
      margin-left: auto;
  
      .menu-item {
        margin: 0 10px;
  
        a {
          color: #fff;
          text-decoration: none;
          padding: 10px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #626262;

          }
        }
      }
    }
  }