.site__footer {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    background-color: #9fc8db;
  }

.site__footer-mentions{
    text-align: center ;
    background-color: black;
    color: white;
  }

.site__footer section{
    margin: 50px;
  }



